<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/Navigation.css">
    <link rel="stylesheet" type="text/css" href="../Style/BudgetBar.css">
    <link rel="stylesheet" type="text/css" href="../Style/CategorySelect(MainPage).css">
    <script src="C:\xampp\htdocs\HomeOptimizer\alertify.js-0.3.11\srcalertify.js"></script>
    <title>Home</title>
    <style>
        table{
            position: fixed;
            top: 40%;
            left: 30%;
            font-size: 10px;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="MainPage.html.Twig" target="_self">Home</a></li>
    <li><a href="History.html.Twig">Hystory</a></li>
    <li><a href="Graphs.html.Twig">Graphs</a></li>
    <li id="User"><a href="Users.html.Twig">User</a ></li>
</ul>

<div class="dropdown">
    <button class="dropbtn">Temp inside</button>
    <div class="dropdown-content">
        <a href="#">Temp outside</a>
        <a href="#">Light</a>
        <a href="#">Humidity</a>
        <a href="#">Electricity</a>
    </div>
</div>

<img src="https://pbs.twimg.com/profile_images/1498190440/LOGO2T4.png" alt="Logo" style="width:40px;height:40px;">
<h1 class="HomeOptimizer">Home Optimizer</h1>
<div class="container">
    <table class="table table-striped table-inverse">
        <tbody>
<tr>
    <th>Id</th>
    <th>TimeStamp</th>
    <th>Light</th>
    <th>Temperature_Indoors</th>
    <th>Temperature_Outdoors</th>
    <th>Humidity</th>
    <th>Motion</th>
    <th>Electricity</th>
</tr>

{% for data in tada %}
    <tr>
        <td>{{ data.Id_S }}</td>
        <td>{{ data.TimeStamp }}</td>
        <td>{{ data.Light }}</td>
        <td>{{ data.Temperature_Indoors }}</td>
        <td>{{ data.Temperature_Outdoors }}</td>
        <td>{{ data.Humidity }}</td>
        <td>{{ data.Motion }}</td>
        <td>{{ data.Electricity }}</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

<p id="BudgetLimitTxt" onclick="move()">Budget Limit</p>
<div id="myProgress">
    <div id="myBar"></div>
    <script>
        function move() {
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                }
            }
        }
    </script>
</div>
</body>
</html>